server:
  port: 8080

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: upload-service
              uri: http://localhost:8081
              predicates:
                - Path=/upload/**
              filters:
                - StripPrefix=1
